
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<script src="materialize.min.js"></script>

<div class="center-align">
  <h1 class = "blue-text">Welcome to STONKS X!</h1>
  <img src="https://i.insider.com/601448566dfbe10018e00c5d?width=700">
  <div class="searchStockDiv">
    <i (click)="sendStock()" id = "search" class = "material-icons" style = "margin-top: 30px;">search</i>
    <input  [(ngModel)]="searchStock" class = "blue-text" type = "text"  id = "enteredStock" style = "width: 300px; height: 50px;" placeholder="Enter a stock to search">
  </div>

  <router-outlet></router-outlet>
</div>
